/* ---------------------------Fonts-------------------------------------*/
@font-face {
	font-family: "Roboto";
	src: url('./fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
}

/* ---------------------------Layout-------------------------------------*/

*{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;  
    grid-template-areas: 
        "head"
        "main";
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-size: clamp(1rem, 2vw, 1.1rem); 
    background-color: #bbbbbb;/* tan*/
}

header{
    grid-area: head;
    background-color: rgb(37, 37, 37);
    position: fixed;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    margin-top: -1px;
    z-index: 999;
}

.nav-title{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center; /* horizontal*/
    align-items: center; /* vertical*/
    height: 100%;
    color: rgb(197, 197, 188);
}

main{
    grid-area: main;
    
}


.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.artic{
    max-width: 250px;
    max-height: 250px;
    min-width: 200px;
    min-height: 200px;
    height: 25vw;
    width: 25vw;
    /* border: 1px solid black; */
    margin: 1rem 1rem; 
    background-color: aquamarine;
    position: relative;
}

.class{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);

}

.artic:hover .class{
    visibility: hidden;
}
.inside-class{
    visibility: hidden;
}
.artic:hover .inside-class{
    visibility: visible;
}

.top{
    position: absolute;
    background-color: rgb(82, 82, 116);
    padding: 0;
    margin: 0;
    left: 0;
    height: 50%;
    width: 100%;
    text-decoration: none;
    color: aliceblue;
} 

.bottom{
    position: absolute;
    background-color: rgb(140, 140, 187);
    padding: 0;
    margin-top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
    text-decoration: none;
    color: aliceblue;
} 

.left{
    position: absolute;
    background-color: rgb(140, 140, 187);
    padding: 0;
    left: 0;
    height: 100%;
    width: 50%;
    text-decoration: none;
    color: aliceblue;
} 

.right{
    position: absolute;
    background-color: rgb(140, 140, 187);
    padding: 0;
    margin-left: 50%;
    left: 0;
    height: 100%;
    width: 50%;
    text-decoration: none;
    color: aliceblue;
} 



.top2{
    position: absolute;
    background-color: rgb(82, 82, 116);
    padding: 0;
    margin: 0;
    left: 0;
    height: 50%;
    width: 100%;
    text-decoration: none;
    color: aliceblue;
} 

.bottom2{
    position: absolute;
    background-color: rgb(140, 140, 187);
    padding: 0;
    margin-top: 25%;
    left: 0;
    height: 50%;
    width: 100%;
    text-decoration: none;
    color: aliceblue;
    
} 

.center{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}


.bottom:hover, .top:hover, .left:hover, .right:hover, .bottom2:hover, .top2:hover{
    background-color: bisque;
    transition: 2s;
}